In [3]:
import pandas as pd
import numpy as np

You are provided with daily historical sales data. The task is to forecast the total amount of products sold in every shop for the test set. Note that the list of shops and products slightly changes every month. Creating a robust model that can handle such situations is part of the challenge.

File descriptions

* sales_train.csv - the training set. Daily historical data from January 2013 to October 2015.
<br>

* test.csv - the test set. You need to forecast the sales for these shops and products for November 2015.
<br>
* sample_submission.csv - a sample submission file in the correct format.
<br>
* items.csv - supplemental information about the items/products.
<br>
* item_categories.csv  - supplemental information about the items categories.
<br>
* shops.csv- supplemental information about the shops.
<br>

#####  Data fields
* ID - an Id that represents a (Shop, Item) tuple within the test set
* shop_id - unique identifier of a shop
* item_id - unique identifier of a product
* item_category_id - unique identifier of item category
* item_cnt_day - number of products sold. You are predicting a monthly amount of this measure
* item_price - current price of an item
* date - date in format dd/mm/yyyy
* date_block_num - a consecutive month number, used for convenience. January 2013 is 0, February 2013 is 1,..., October 2015 is 33
* item_name - name of item
* shop_name - name of shop
* item_category_name - name of item category

This dataset is permitted to be used for any purpose, including commercial use.

Se le proporcionan datos de ventas históricas diarias. La tarea es pronosticar la cantidad total de productos vendidos en cada tienda para el conjunto de prueba. Tenga en cuenta que la lista de tiendas y productos cambia ligeramente cada mes. Crear un modelo robusto que pueda manejar tales situaciones es parte del desafío.

Descripciones de archivos

* sales_train.csv - el conjunto de entrenamiento. Datos históricos diarios de enero de 2013 a octubre de 2015.
<br>
* test.csv - el conjunto de prueba. Debe pronosticar las ventas de estas tiendas y productos para noviembre de 2015.
<br>
* sample_submission.csv: un archivo de envío de muestra en el formato correcto.
<br>
* items.csv: información complementaria sobre los artículos/productos.
<br>
* item_categories.csv: información complementaria sobre las categorías de artículos.
<br>
* shops.csv- información complementaria sobre las tiendas.

##### Campos de información

* ID: un ID que representa una tupla (Tienda, Artículo) dentro del conjunto de prueba
<br>
* shop_id - identificador único de una tienda
<br>
* item_id - identificador único de un producto
<br>
* item_category_id - identificador único de la categoría del artículo
<br>
* item_cnt_day - número de productos vendidos. Está pronosticando una cantidad mensual de esta medida
<br>
* item_price - precio actual de un artículo
<br>
* fecha - fecha en formato dd/mm/aaaa
<br>
* date_block_num - un número de mes consecutivo, usado por conveniencia. enero de 2013 es 0, febrero de 2013 es 1,..., octubre de 2015 es 33
<br>
* item_name - nombre del elemento
<br>
* shop_name - nombre de la tienda
<br>
* item_category_name - nombre de la categoría del artículo

Se permite el uso de este conjunto de datos para cualquier propósito, incluido el uso comercial.

In [2]:
ruta = 'C:/Users/Ignacia/Desktop/Ignacia/GitHub/Predict-Future-Sales-Kaggle/Datasets'

In [14]:
item_categorias = pd.read_csv(ruta + '/item_categories.csv')
items = pd.read_csv(ruta + '/items.csv')
shops = pd.read_csv(ruta + '/shops.csv')
sales_train = pd.read_csv(ruta + '/sales_train.csv')
test = pd.read_csv(ruta + '/test.csv')
sample_submission = pd.read_csv(ruta + '/sample_submission.csv')

In [22]:
sales_train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0